%page {
	@extend %cover;
	pointer-events: none;

	transition: opacity 0.4s ease, visibility 0.4s ease;
	visibility: hidden;
	z-index: z('content');
}

%page--active {
	opacity: 1;
	pointer-events: auto;
	transition: none;
	visibility: visible;
}

%content {
	left: 0;
	overflow: hidden;
	position: absolute;
	top: 0;
	width: 100%;
	will-change: transform;
}

%wrapper {
	margin: auto;
	max-width: 130rem;
	width: 90%;

	@include respondMax('mobile2x') {
		width: calc(100% - 5rem);
	}
}
